.header {
    font-size: large;
    padding: 5px;
    border: 1px solid #bbbbbb;
    border-bottom: 0;
}

.num-selected {
    display: inline-block;
    text-align: left;
    min-width: 125px;
    margin-left: 10px;
}

.download-btn {
    margin-left: 20px;
    background: none;
	color: inherit;
	border: none;
	padding: 5px;
	font: inherit;
	outline: inherit;
}

.download-btn:disabled {
    color: gray;
    cursor: default;
}

.download-icon {
    position: relative;
    top: 3px;
}

.download-btn-text {
    margin-left: 5px;
}
