td.name-field {
    width: 10vw;
}

td.device-field {
    width: 8vw;
}

td.path-field {
    width: 30vw;
    padding-right: 20px;
}

td.status-field {
    width: 6vw;
}

.status-indicator {
    height: 15px;
    width: 15px;
    background-color: #86CE3C;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-left: -19px;
}