table {
    border-collapse: collapse;
    background-color: #FDFDFD;
    color: #212121;
    margin: 10px;
}

tr {
    border: 1px solid #bbbbbb;
    cursor: default;
}

th {
    font-weight: normal;
    text-align: left;
}

td {
    font-size: small;
    text-align: left;
    padding: 5px;
}

input, button:not(:disabled) {
    cursor: pointer;
}

input[type='checkbox'] {
    margin: 10px;
}

.placeholder {
    padding: 100px 200px;
}