.wrapper {
    background-color: #FDFDFD;
    color: #212121;
}

table {
    border-collapse: collapse;
}

tr {
    border: 1px solid #bbbbbb;
    cursor: default;
}

th {
    font-weight: normal;
    font-size: medium;
    text-align: left;
    padding: 10px;
}

td {
    font-size: small;
    text-align: left;
    padding: 5px 10px;
}

input:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

input[type='checkbox'] {
    margin: 10px;
}

th.name-header {
    padding-left: 66px;
}

.placeholder {
    padding: 100px 200px;
}