tr.clickable {
    cursor: pointer;
}

tr.clickable:hover:not(.selected) {
    background-color: #e5e5e5;
}

tr.selected {
    background-color: #dddddd;
}

td.name-field {
    width: 10vw;
    padding-left: 35px;
    white-space: nowrap;
}

span:has(.file-checkbox){
    position: relative;
    left: -30px;
}

td.device-field {
    width: 8vw;
}

td.path-field {
    width: 30vw;
    padding-right: 20px;
}

td.status-field {
    width: 6vw;
}

.status-icon {
    padding-right: 5px;
    margin-left: -19px;
}
